<link rel="stylesheet" href="styles/utils.css" />
</head>
<body>
  <div class="container">
    <div class="homepage">
      <div class="navbar">
        <div>
            <a href="/"  class="logo">
                <img src="/Assets/thumbnail" alt="" />
                <h1 class="app-name">SnapLink</h1>
            </a>
        </div>