<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="font-src 'self' data:"
    />
    <link rel="icon" type="png/svg+xml" href="/Assets/thumbnail" />
    <title>SnapLink</title>
  </head>
</html>
<link rel="stylesheet" href="styles/styles.css" />
